* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0;
    height: auto;
    background-color: transparent; /* Ensure the body has no color */
}

header {
    position: relative;
    z-index: 2; /* Keep the nav bar above the image */
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    position: absolute; /* Make the nav not fixed, but still positioned */
    top: 0; /* Position it at the top of the screen */
    width: 80%;
    padding: 20px 0;
    z-index: 3; /* Ensure it is above the background */
    background-color: transparent;
    margin-top: 80px;
    margin-left: 140px;
}

h2 {
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
    font-size: 1.5rem; /* Adjust font size */
}

.social-icons {
    width: 30px;
    height: 30px;
    margin: 0; /* Add space between social icons */
}

.wrapper {
    position: relative;
    padding-top: 90px; /* Space for the nav bar, pushing down the content */
}

#page1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensure the background fills the viewport */
    object-fit: cover; /* Ensure the image stretches to fill the area */
    object-position: top; /* Make sure the top part of the image is visible */
    z-index: -1; /* Ensure the background stays behind the content */
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;  /* Vertically center the box */
    left: 50%;  /* Horizontally center the box */
    transform: translate(-50%, -50%); /* Truly center the box */
    width: 100%;
    height: 100%;
}

.box {
    width: 1450px;
    height: 1000px;
    border: 6px solid white;
    background-color: transparent;
    margin-top: 1190px;
}

#about {
    margin-right: 10%;
}

#instagram {
    margin-left: 20%;
}
