* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: transparent;
    z-index: 3;
    margin-top: 5.5%;
    max-width: 80%;
    margin-left: 8.5%;
}

.nav-bar {
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
}

#nav-box-words {
    display: flex;
    justify-content: space-around;
    gap: 20%;
}

#nav-box-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}

.social-icons {
    width: 1.7vw;
    height: 1.7vw;
}

#page1 {
    height: 100vh;
    background-image: url('img/BABYMONSTER Background Image.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    position: relative;
}

#page1 .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#page1 .box {
    width: 85%;
    height: 60%;
    border: 1.3em solid white;
    background-color: transparent;
    margin-bottom: 10%;
}

.box-content {
    text-align: center;
}

.main-logo {
    margin-top: 32%;
    font-family: "Montserrat";
    font-weight: 800;
    color: black;
    font-size: 12em;
}

.album-button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 0.1em solid white;
    border-radius: 0.8em;
    padding: 1% 2%;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 7em;
}

#page2 {
    background-image: linear-gradient(#EDE8E2, #C4C4CE);
    color: white;
    height: 95vh;
    text-align: center;
    scroll-snap-align: start;
    border-top: 1em solid white;
}

#page2 h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#page2 p {
    font-size: 1.5rem;
}

#page2 .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#page2 .box {
    width: 90%;
    height: 90%;
    border: 1.3em solid white;
    background-color: transparent;
}

#page2 h2 {
    font-family: "Montserrat";
    font-weight: 700;
    color: black;
    font-size: 8em;
}

#page2 p {
    font-family: "Montserrat";
    font-weight: 600;
    color: black;
    font-size: 5em;
    line-height: 1.5em;
}

#page2 .box-content {
    text-align: left;
    margin-top: 2.5%;
    margin-left: 3.5%;
}

#page2 .album-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5%;
    margin-left: 3.5%;
}
