* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: transparent;
    z-index: 3;
    margin-top: 6.3%;
    max-width: 80%;
    margin-left: 8.5%;
}

.nav-bar {
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
}

#nav-box-words {
    display: flex;
    justify-content: space-around;
    gap: 20%;
}

#nav-box-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}

.social-icons {
    width: 1.7vw;
    height: 1.7vw;
}

#page1 {
    height: 100vh;
    background-image: url('img/BABYMONSTER Background Image.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    position: relative;
}

#page1 .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#page1 .box {
    width: 85%;
    height: 60%;
    border: 0.5vw solid white;
    background-color: transparent;
    margin-bottom: 10%;
}

.box-content {
    text-align: center;
}

.main-logo {
    margin-top: 32%;
    font-family: "Montserrat";
    font-weight: 800;
    color: black;
    font-size: 5vw;
}

.album-button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: 0.2vw solid white;
    border-radius: 2vw;
    padding: 1% 2%;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.5vw;
}

#page2 {
    background-image: linear-gradient(#EDE8E2, #C4C4CE);
    color: white;
    height: 95vh;
    text-align: center;
    scroll-snap-align: start;
    border-top: 0.5vw solid white;
}

#page2 .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#page2 .box {
    width: 90%;
    height: 90%;
    border: 0.5vw solid white;
    background-color: transparent;
}

#page2 h2 {
    font-family: "Montserrat";
    font-weight: 700;
    color: black;
    font-size: 3vw;
}

#page2 p {
    font-family: "Montserrat";
    font-weight: 600;
    color: black;
    font-size: 2vw;
    line-height: 3vw;
}

#page2 .box-content {
    text-align: left;
    margin-top: 2.5%;
    margin-left: 3.5%;
}

#page2 .album-content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10em; 
    width: 100%;
    margin-top: 5%;
}

#page2 .album-content .album {
    display: flex; 
    align-items: center; 
    text-align: left;
    padding: 0.8vw;
}

#page2 .album-content .album img {
    max-width: 40%;
    height: auto;
}

#page2 .album-content .album a {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    gap: 1.8vw; 
    color: inherit; 
    position: relative;
}

#page2 .album-content .album a p {
    flex: 1; 
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: black;
    font-size: 2vw;
    text-shadow: 0.1vh 0.1vh 0.1vh rgb(74, 74, 74);
}